@model Login

@if (Model == null)
{
    <div class="d-flex flex-column gap-5 align-items-center">
        <h1 class="display-4">You are currently not logged in</h1>
        <div class="d-flex gap-4">
            <button class="btn btn-primary"><a class="text-light" asp-action="index" asp-controller="login">Logar</a></button>
            <button class="btn btn-secondary"><a class="text-light" asp-action="cadastrar" asp-controller="login">Cadastrar</a></button>
        </div>
    </div>
}
