@model Contato

<h1>Adicionar um contato</h1>

<form asp-action="contact" asp-route-id="@TempData["UsuarioId"]">
    <div class="mb-3">
        <label asp-for="Telefone"></label>
        <input asp-for="Telefone" class="form-control" required="true" />
    </div>
    <div class="mb-3">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" required="true" />
    </div>

    <button class="btn btn-primary">Adicionar</button>
</form>