<div>
    <h2>My Health</h2>
    <p>Em vários momentos por toda nossa vida precisamos de cuidados médicos. Todo ser humano precisa desse cuidado.</p>
    <p>Por diversas vezes vamos aos hospitais, clínicas e postos de saúde seja para procurar melhorar de uma tosse que não passa, dor de cabeça, dor no corpo, mal-estar e outros inúmeros motivos. O procedimento é sempre o mesmo: Chegamos no local, pegamos uma senha e esperamos ser atendidos. Após a avaliação médica, somos orientados a tomar algum tipo de medicação e/ou realizar algum exame.</p>
    <p>
        Dessa forma, iremos aos hospitais inúmeras vezes durante nossa vida, o que resulta em inúmeros exames realizados, medicações tomadas etc.
        Pensando nisso, criamos uma aplicação que basicamente organiza todo seu histórico durante toda sua vida, a partir do momento em que ele é alimentado.
    </p>
    <p>
        A aplicação armazena todos os dados que foram gerados durante as consultas e passagens por hospitais e clinicas.
        O Paciente se cadastra na aplicação e preenche todos os dados necessários para completar seu perfil. Após isso, o cadastro daquele paciente fica apto a receber tópicos sobre seus atendimentos futuros.
    </p>
    <p>A partir disso, o médico registrado na plataforma, registra as solicitações feitas e informações recolhidas durante sua visita, e isso fica tudo gravado em seu histórico. Evitando assim perder informações tão importantes sobre sua saúde.</p>
    <p>
        O Médico no momento do atendimento, informa o cpf do paciente em questão e faz uma busca na aplicação. Encontra então o perfil do paciente com seus dados pessoais, contato, endereço, local, data e especialidade dos últimos atendimentos. Dessa forma pode inserir informações sobre aquele atendimento que será realizado.
        Nessa tela o médico encontra os campos: Descrição do atendimento, Medicação, Exames e Encaminhamento.
    </p>
    <p>Descrição do atendimento: Essa opção serve para registrar detalhadamente o que se passou no atendimento com o médico. Nela também podem ser anexados links de exames que estão em nuvem privada, com exames de imagem e laudos do paciente. </p>
    <p>Medicação: Esse campo carrega as informações das medicações que foram receitadas para o paciente. Nome, dosagem e o horário no qual a medicação deve ser tomada.</p>
    <p>Exames: Esse campo indica quais os exames que foram solicitados naquele atendimento.</p>
    <p>Encaminhamento: Aqui, o médico informa o especialista que o paciente deve ser encaminhado de acordo com a necessidade.</p>
    <p>
        Dessa forma, todos os dados de todos os atendimentos podem ser armazenados e agrupados de forma rápida e segura.
    </p>
    <p>O histórico de um paciente é extremamente importante para ele e para contribuição de novos estudos na medicina. </p>
    <p>
        Se por acaso os últimos 30 anos em algum lugar do mundo houvesse o registro dos dados clínicos de pelo menos 70% da população, é impossível mensurar o quanto a medicina estaria a frente do seu lugar atual.
        96% da população não tem exames e históricos de seus atendimentos médicos nos últimos 3 anos.
    </p>
    <p>A obrigatoriedade de uso dessa aplicação seria de excelente importância para toda a humanidade. E isso é indiscutível!</p>
</div>