@model Login

<h1>Cadastrar novo login</h1>

<form asp-action="cadastrar">

    @if (TempData["msg"] != null)
    {
        @if (TempData["success"].ToString() == "1")
        {
            <div class="alert alert-success">@TempData["msg"]</div>
        }
        else
        {
            <div class="alert alert-danger">@TempData["msg"]</div>
        }
    }

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" required="true" />
    </div>
    <div class="mb-3">
        <label asp-for="Senha"></label>
        <input asp-for="Senha" class="form-control" required="true" />
    </div>

    <button class="btn btn-primary">Cadastrar</button>

</form>